body{
    display: relative;   /* Para scroll con header fijo */
}

header{
    margin-top: 4em;
}

.nav-link{
    color: bisque !important;
    font-weight: bold !important;
}
.nav-link:hover , .nav-link:active  {
    /* color: white !important; */
    font-weight: bolder !important;
    filter: brightness(200%);
    background-color: transparent !important;
    text-decoration-line: /*overline*/ underline;
    text-decoration-color: bisque; 
    text-decoration-style:solid;
    text-decoration-thickness:3px;
}

main{
    margin: auto;
}

/* Inicio footer */

footer {
    /* border:3px red solid; */
    background-color: #605e5f !important;;
    text-align: center ;
    margin: auto;
    
}

.contenido-foot{
    color: bisque;
}

.info-footer{
    display: flex;
    justify-content: space-around;
}