body{
    display: relative;
        
}

header{
    margin-top: 4em;
}

.nav-link{
    color: white !important;
    font-weight: 800 !important;;
    
}
.nav-link:hover , .nav-link:active  {
    color: #B87988 !important;;
    background-color: transparent !important;;
   
}
main{
    margin: auto;
}

/* Inicio footer */

footer {
    /* border:3px red solid; */
    background-color: #605e5f !important;;
    text-align: center ;
    margin: auto;
    
}

.contenido-foot{
    color: bisque;
}

.info-footer{
    display: flex;
    justify-content: space-around;
}