
.contenido-foot{
    display: flex;
    justify-content: space-around;
}

/* Inicio footer */

footer {
    border:3px red solid;
    text-align: center ;
    margin: 0.5rem;
}
article {
    border:3px green solid;
    height: auto;
    margin: 0.5rem;
}

/* header */
body {
    position: relative; 
}

.nav-link{
    color: white !important;
    font-weight: 800 !important;;
    /* margin: 1.3rem 0.6vw 1.3rem 0.6vw !important;; */
}
.nav-link:hover , .nav-link:active  {
    color: #B87988 !important;;
    background-color: transparent !important;;
    /* text-decoration: underline overline !important;; */
}
