.destacados{
    width: 70%;
    padding: 1em;
    margin: 0 auto;
    box-shadow: 0 0 10px grey;
    border-radius: 5px;
}

.carousel-item {
    height: 40vh;
    background-size: cover;
}


.trabajos{
    display: flex;
    flex-wrap: wrap;
    gap:1em;
    justify-content: center;
    
}
.card{
    width: 20%;
    min-width: 250px;
}

#agregar-trabajo{
    display: block;
    margin: 1em auto;
    padding: 1em 0;
    width: 60%;
    border-radius: 10px;

}
