{% extends 'taller/base.html' %}
{% load static %}

{% block title %}Cursos{% endblock %}

{% block header %}
    <h1>Cursos y talleres</h1>
    <h3>Para todas las edades y niveles, te podes sumar en cualquier momento del año</h3>
{% endblock %}

{% block content %}
    {% for curso in cursos %}
    <div>
        <h4>{{curso.titulo}}</h4>
        <p>{{curso.descripcion}}</p>
        <!-- <img src="{% static 'taller\img\curso-alfareria_adultos9.png' %}" alt="curso"> -->
        <img src="{% static curso.imagen %}" alt="curso">
        <br>
        <button>Inscribirme!</button>
        <br>
        <br>
    </div>
    {% endfor %}
{% endblock %}
