{% extends 'taller/base.html' %}

{% block title %}Cursos{% endblock %}

<body>
    {% block header %}
        <h1>CURSOS</h1>
        <h3>Aca van los cursos disponible para hacer</h3>
    {% endblock %}

    {% block content %}
        <div>
            <h4>CURSO 1</h4>
            <button>Inscribirme!</button>
        </div>
        <div>
            <h4>CURSO 2</h4>
            <button>Inscribirme!</button>
        </div>
        <div>
            <h4>CURSO 3</h4>
            <button>Inscribirme!</button>
        </div>
    {% endblock %}
</body>