{% extends 'taller/base.html' %}
{% load static %}

{% block title %}Cursos{% endblock %}
{% block extra_css %}
    <style>
        .accordion {
          background-color: #D3D3D3; /* #e0dfdf; */
          color: #444; 
          cursor: pointer;
          padding: 0.8%;
          padding-left: 1.2%;
          width: 100%;
          border: none;
          text-align: left;
          outline: none;
          font-size: medium;
          /* transition: 0.4s; */
          font-weight: bold;
        }
        
        .active, .accordion:hover {
          background-color: #A9A9A9; 
        }
        
        .accordion:after {
          content: '\002B';
          color: #777;
          font-weight: bold;
          float: left; /*right;*/
          margin-right: 1%;
        }
        
        .active:after {
          content: "\2212";
        }
        
        .panel {
          padding: 0 2.5%;
          background-color: white;
          max-height: 0;
          overflow: hidden;
          transition: max-height 0.2s ease-out;
          font-weight: lighter;
        }
        .en_linea {
          display: inline;
        }
        .destacado {
          padding: 0.5%;
          font-weight: bold;
          border-radius: 0.3rem;
          border: none;
        }
        .con_vacantes {
          background-color: lightgreen;
          color: green;
        }
        .sin_vacantes {
          background-color: rgb(144, 224, 238);
          color: blue;
        }
        .col-centered {
          float: none;
          margin-right: auto;
          margin-left: auto;
        }
.main-container {
  display: grid;
  grid-template-columns: 25% auto; /*14% 84%;*/
  grid-template-rows: auto;
  grid-template-areas: "img-area det-area"
                       "btn-area btn-area";
  grid-auto-flow: row;
  grid-row-gap: 0.3rem;
  grid-column-gap: 0.3rem;
  width: 98%;
  margin-top: 0.5rem;
  margin-bottom: 0;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  border: none; /* 1px solid red; */
}
.img-container {
  grid-area: img-area;
  justify-content: center;
  /* border: 1px solid rgba(53, 12, 235, 0.8); */
}
.imagen {
  text-align: center;  /* Centra la imagen horizontalmente */
}
.img_responsive{
  /* width: 100%; */
  width: auto;
  height: auto;
}
.det-container {
  grid-area: det-area;
  /* padding: 1.4rem; */
  align-content: center;
  text-align: start; 
  /* border: 1px solid rgba(25, 207, 64, 0.8); */
}
.descripcion {
  /* display: flex; */
  padding-left: 0.8%;
  padding-top: 0.5%;
  align-content: center;
  place-self: center;
}
.btn-container {
  grid-area: btn-area;
  justify-content: center;
  text-align: center; 
  margin-bottom: 0.5%;
  /* border: 1px solid rgba(226, 241, 13, 0.8); */
}
/* Extra small devices (portrait phones, less than 576px) */
@media screen and (max-width: 750.98px) { /*575.98px) { */
    .main-container {
      grid-template-columns: 1fr;
      grid-template-areas: "img-area"
                           "det-area"
                           "btn-area";
    }
}

/* Small devices (landscape phones, 576px and up) 
   Medium devices (tablets, 768px and up) */
/* @media screen and (min-width: 576px) and (max-width: 991.98px) { */
@media screen and (min-width: 751px) and (max-width: 991.98px) {
    .main-container {
        grid-template-columns: 25% auto;
        grid-template-areas: "img-area det-area"
                             "btn-area btn-area";
   }
}

/* Large devices (desktops, 992px and up) */
/* @media screen and (min-width: 992px) {   
} */

    </style>
{% endblock %}

{% block header %}
      <h1>Cursos y talleres</h1>
      <h3>Para todas las edades y niveles, te podes sumar en cualquier momento del año</h3>
{% endblock %}

{% block content %}
    {% for curso in cursos %}
      <div>
          <button class="accordion">{{curso.titulo}}</button>
          <div class="panel main-container">  <!-- justify-content-center -->
            <div class="img-container">
              <div class="imagen">
                <!-- <img src="{% static 'taller\img\curso-alfareria_adultos9.png' %}" alt="curso"> -->
                <img src="{% static curso.imagen %}" alt="curso" class="img_responsive">
              </div>
            </div>
            <div class="det-container">
              <div class="descripcion">
                <!-- <br> -->
                {% for desc in curso.descripcion %}
                  <p>{{desc}}</p>
                {% endfor %}
              </div>
            </div>
            <div class="btn-container">
              {% if curso.cupo %}
                <button class="destacado con_vacantes">Vacantes disponibles - Inscribite !</button>
              {% else %}
                <button class="destacado sin_vacantes">Contactanos si es de tu interés</button>            
              {% endif %}
            </div>
          </div>
      </div>
    {% endfor %}

    <script>
        var acc = document.getElementsByClassName("accordion");
        var i;
        
        for (i = 0; i < acc.length; i++) {
          acc[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight) {
              panel.style.maxHeight = null;
            } else {
              panel.style.maxHeight = panel.scrollHeight + "px";
            }
          });
        }


        </script>
{% endblock %}


  

 