{% extends 'taller/base.html' %}
{% load static %}

{% block title %}Taller{% endblock %}
<body>
    <h2>Taller de Cerámica</h2>
    
    {% block header %}
        
        <div class="header">
                <h2>TALLER DE CERÁMICA</h2>
        </div>

    {% endblock %} 

    {% block content %}
        <section class="contenido-main">
            <h4>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit qui aperiam assumenda. Odio obcaecati, quis nostrum dolore eius fugit sequi provident, earum, placeat cum nam atque quasi veniam accusamus culpa.S</h4>
        </section>

    {% endblock %}
</body>
</html>{% block extra_css %} 
    <link rel="stylesheet" href="{% static 'taller/css/index.css' %}">
{% endblock %}