{% extends 'taller/base.html' %}
{% load static %}

{% block extra_css %} 
    <link rel="stylesheet" href="{% static 'taller/css/index.css' %}">
{% endblock %}

{% block title %}Taller{% endblock %}
<body>
    {% block header %}
        <h3 class="titulo_pagina">Bienvenid@ a nuestro taller</h3>
        <h5 class="subtitulo_pagina">Te esperamos !</h5>
    {% endblock %} 

    {% block content %}
        <section class="contenido-main">
            <div>
                <p>La arcilla es un material de potencialidades únicas y al trabajarla, conectamos con algo ancestral, ha acompañado a diversas culturas desde sus inicios.</p>
                <p class="imagen">
                    <img src="{% static 'taller\img\grupo-5.jpg' %}" alt="presentacion_2" class="img_responsive">
                </p>
            </div>
            <div>
                <p>Disfrutamos logrando nuestra propia obra, ya sea artística o utilitaria.</p>
                <p class="imagen">
                    <img src="{% static 'taller\img\grupo-1.jpg' %}" alt="presentacion_3" class="img_responsive">
                </p>
                <p>Incursionar en el fascinante mundo de texturas y colores nos permite experimentar y obtener resultados únicos.</p>
            </div>      
            <div>
                <p class="imagen">
                    <img src="{% static 'taller\img\grupo-4.png' %}" alt="presentacion_1" class="img_responsive">
                </p>
                <p>Nuestro objetivo es brindarte un ámbito de conocimiento, aprendizaje y expresión a través de la cerámica. </p>
            </div>
            <div>
                <p>Dejanos tu comentario <a href="{% url 'alumnos' %}"><i class='bx bx-message-rounded'></i> </a></p>
            </div>
        </section>    

    {% endblock %}
</body>
