
</nav> 
<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#opciones">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- enlaces -->
  <div class="collapse navbar-collapse" id="opciones">   
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'taller' %}">INICIO</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'cursos' %}">CURSOS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'galeria' %}">GALERIA</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'tienda' %}">TIENDA???</a>
      </li>            
    </ul>
  </div>
</nav>